:host {
  .productItem {
    display: flex;
    margin: 20px 20px;
    .mat-card {
      flex-direction: column;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
    }
  }
  .mat-card-content {
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
  }
  .subtotal {
    float: right;
  }
  .mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
}