<div>
  <div *ngFor="let item of (items$ | async)" class="productItem">
    <mat-card>
      <mat-card-title>{{item.name}}({{item.count}})<span class="subtotal">${{item.price * item.count}}</span></mat-card-title>
    </mat-card>
  </div>
  <mat-card-content>Total: {{total}}</mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="checkout()">Checkout</button>
  </mat-card-actions>
</div>