<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>{{title}}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button mat-raised-button color="accent" (click)="checkout()" id="checkout">Checkout {{count || ''}}</button>
</mat-toolbar>


<router-outlet></router-outlet>