:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  p {
    white-space: pre-wrap
  }
  .productItem {
    flex: 1 1 30%;
    margin: 20px 20px;
    .mat-card {
      flex-direction: column;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }
    .mat-card-actions {
      display: flex;
      justify-content: flex-end;
    }
    .mat-card-content {
      display: flex;
      justify-content: space-between;
    }
  }
}