<div *ngFor="let product of (products$ | async)" class="productItem">
  <mat-card>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
    <mat-card-content>
      <div>
        <label>Price: </label>
        <span>{{product.audPrice}}</span>
      </div>
      <div>
        <label>Stock: </label>
        <span>{{product.stockOnHand}}</span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-raised-button color="error">Remove from cart</button> -->
      <button mat-raised-button color="primary" class="addToCart" (click)="add(product)">Add to cart</button>
    </mat-card-actions>
  </mat-card>
</div>
